<header id="news">
        <label class="side-label2"><strong>User
                login</strong></label><br />
            <button class="side-button" id="validateEvent" type="button">Log out</button>
  <h1 id="news-heading1">NEWSFEED</h1>
  <div class="side">
        <select id="side-select">
            <option value="" style="display: none">Select source</option>
            <option value="One">BBC</option>
            <option value="Two">CNN</option>
            <option value="Three">ZION</option>

        </select>
  </div>
  <button class="article-button" id="validateEvent" type="button">Add Article</button>
</header>