<header id="news">
  <label class="side-label2" *ngIf="userActivated"><strong>Welcome {{userActivated}}</strong></label><br />
  <button class="side-button" id="validateEvent" type="button" routerLink="/login">Authentication</button>
  <h1 id="news-heading1">{{heading}}</h1>
  <div class="side">
    <select id="side-select" [(ngModel)]="heading" routerLink="/sourceData/{{heading}}">
      <option *ngFor="let channel of channelList" value="{{channel}}">{{channel}}</option>
    </select>
  </div>
  <button class="article-button" id="validateEvent" type="button" routerLink="/addArticle">Add Article</button>
</header>